/*Developer: Brandon Hunt, IS117-003, Fall 2022*/
ul {
    list-style-type: none;
}

body {

}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0;
}